* {
    margin: 0;
    padding: 0;
}

html{

    font-size: 10px;

}


.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("img/back.jpg");
    height: 70rem;
    width: 70rem;
}

.grid-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    border-color: black;
    border-width: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40rem;
    width: 40rem;
}

.grid__item {
    padding: 4rem 0;
    text-align: center;
    
    border-color: white;
    border-width: 1.5rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bolder;

}

.grid__item:hover {

    background-color: rgba(0,0,255,0.65);


}

.blank__item  {
    background-color: white;
}

.coloured__item {
    background-color: rgba(0,0,255,0.5);
}